:host {
  display: block;

  .top-bar {
    background-color: #333333;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      display: inline-block;
      margin: 0;
      padding: 15px;
      color: white;
      font-weight: 900;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: relative;
        border-bottom: 2px solid var(--fresh);
        width: 100%;
        top:-5px;
      }
    }
  }
}
